<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <target name="asyncFile" xsi:type="AsyncWrapper">
        <target xsi:type="File" name="file" fileName="${basedir}/logs/top-${shortdate}.log" archiveAboveSize="1000000" maxArchiveFiles="10">
          <layout xsi:type="LayoutWithHeaderAndFooter">
            <header xsi:type="SimpleLayout" text="----------Log Starting---------"/>
            <layout xsi:type="SimpleLayout" text="${longdate}|${callsite}|${level:uppercase=true}|[${threadid}]| ${message}"/>
            <footer xsi:type="SimpleLayout" text="----------Log Ending-----------"/>
          </layout>
        </target>
      </target>

      <!--<target name="m" xsi:type="MethodCall" className="MainWebApplication.Helpers.LogHelper, MainWebApplication" methodName="LogMethod">
        <parameter layout="${level}" />
        <parameter layout="${longdate}" />
        <parameter layout="${logger}" />
        <parameter layout="${message}" />
      </target>-->

    </targets>

    <rules>
      <!-- <logger name="*" minlevel="Debug" writeTo="m" /> -->
      <logger name="*" writeTo="asyncFile"/>
    </rules>

  </nlog>
</configuration>
